.App {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.container {
    display: grid;
    height: 1800px;
    grid-template-columns: 15% 88%;
    grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    width: 100%;
    grid-row: span 6;
    background-color:#2e557c;
    padding-top: 200px; 
    
}

header {
    grid-area: header;
    grid-row: span 1;
    background-color: #0097A7;
    height: 100px;
    width: 100%;
    font-size: 30px;
    margin: 0;
    padding: 0;
    border-bottom: 1px inset white;  
    border-left: 1px solid white;
}

h1 {
    position: absolute;
    top: 20px;
    left: 35px;
    margin-top: 0;
    font-size: 30px;
    color: white;
}

main {
    grid-area: main;
    grid-row: span 1;
    background-color: #DBE3E6;
    height: 1800px;
    width: 100%;
    display: flex;
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../images/space.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-left: 1px solid white;
}

.sidebar button {
    width: 200px;
    height: 100px;
    background-color: #0097A7;
    border: none;
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0 0 0 22px;
    outline: none;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    border-bottom: 1px solid white;
}
  
.sidebar button:hover {
    color: white;
    background-color: orange;
    transform: translate(0, 1px);
    cursor: pointer;
}

.sidebar button:focus {
    background:  #41D3BD;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
   border-left: 5px solid white;
}

header button {
    width: 220px;
    height: 50px;
    background-color: #2e557c;
    border: none;
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 25px 0 0 1000px;
    padding: 0 0 0 22px;
    outline: none;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    border: 1px solid white;
}

header button:hover {
    color: white;
    background-color: #9EC5AB;
    background-color: orange;
    transform: translate(0, 1px);
    cursor: pointer;
}

header button:focus {
    background: #41D3BD;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}
  
.scroll-up {
    overflow: hidden;
    position: relative;
    margin: 0;
}

.scroll-up p {
    color: white;
    position: absolute;
    width: 100%;
    height: 80%;
    line-height: 80px;
    font-size: 36px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);	
    transform:translateY(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-up 10s linear infinite;
    -webkit-animation: scroll-up 10s linear infinite;
    animation: scroll-up 10s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-up {
    0%   { -moz-transform: translateY(100%); }
    100% { -moz-transform: translateY(-100%); }
   }
   @-webkit-keyframes scroll-up {
    0%   { -webkit-transform: translateY(100%); }
    100% { -webkit-transform: translateY(-100%); }
   }
   @keyframes scroll-up {
    0%   { 
    -moz-transform: translateY(100%); /* Browser bug fix */
    -webkit-transform: translateY(100%); /* Browser bug fix */
    transform: translateY(100%); 		
    }
    100% { 
    -moz-transform: translateY(-100%); /* Browser bug fix */
    -webkit-transform: translateY(-100%); /* Browser bug fix */
    transform: translateY(-100%); 
    }
}

.fa-galactic-senate {
     position: absolute;
     top: 80px;
     left: 80px;
     font-size: 86px;
     color: orange;
}
   