.starships {
    height: 373px;
    width: 250px;
    margin: 5px;
    background-color:transparent;
    border-radius: 1px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 12px;
    border: 1px solid white;
    cursor: pointer;
  
  }

  .starships:hover {
    box-shadow: 5px 5px 5px 0 orange;
  }