.App {
    text-align: center;
  }
  .container {
    display: grid;
    height: 1500px;
    grid-template-columns: 15% 88%;
    grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main";
  }

  .sidebar {
    grid-area: sidebar;
    width: 100%;
    grid-row: span 6;
    background-color: #41506B ;
    padding-top: 200px;
  }

  header {
    grid-area: header;
    grid-row: span 1;
    background-color: #1B4C9B;
    height: 100px;
    width: 100%;
    font-size: 30px;
    margin: 0;
    padding: 0;
  }

  h1 {
    position: absolute;
    top: 20px;
    left: 55px;
    margin-top: 0;
    font-size: 25px;
    font-family: 'Prompt', sans-serif;
  }

  main {
    grid-area: main;
    grid-row: span 1;
    background-color: #DBE3E6;
    height: 1500px;
    width: 100%;
    display: flex;
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(./images/space.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .sidebar button {
    width: 200px;
    height: 100px;
    background-color: #3E619B;
    border: none;
    color: #AFBCC2;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0 0 0 22px;
    outline: none;
    font-size: 36px;
  }
  
  .sidebar button:hover {
    color: white;
    background-color: #9EC5AB;
    transform: translate(0, 1px);
    cursor: pointer;
  }
  
  .scroll-up {
    overflow: hidden;
    position: relative;
    margin: 0;
   }

   .scroll-up p {
    color: white;
    position: absolute;
    width: 100%;
    height: 80%;
    line-height: 80px;
    font-size: 36px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateY(100%);
    -webkit-transform:translateY(100%);	
    transform:translateY(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-up 10s linear infinite;
    -webkit-animation: scroll-up 10s linear infinite;
    animation: scroll-up 10s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-up {
    0%   { -moz-transform: translateY(100%); }
    100% { -moz-transform: translateY(-100%); }
   }
   @-webkit-keyframes scroll-up {
    0%   { -webkit-transform: translateY(100%); }
    100% { -webkit-transform: translateY(-100%); }
   }
   @keyframes scroll-up {
    0%   { 
    -moz-transform: translateY(100%); /* Browser bug fix */
    -webkit-transform: translateY(100%); /* Browser bug fix */
    transform: translateY(100%); 		
    }
    100% { 
    -moz-transform: translateY(-100%); /* Browser bug fix */
    -webkit-transform: translateY(-100%); /* Browser bug fix */
    transform: translateY(-100%); 
    }
   }